opencv-python
numpy
websockets
PySide6
deep-translator
psutil
pywin32
requests
ctranslate2
tokenizers
winrt-runtime
winrt-Windows.Foundation
winrt-Windows.Storage.Streams
winrt-Windows.Graphics.Imaging
winrt-Windows.Graphics.Capture
winrt-Windows.Graphics.DirectX
winrt-Windows.Graphics.DirectX.Direct3d11
winrt-Windows.Graphics.DirectX.Direct3d11.Interop
winrt-Windows.Media.Ocr
winrt-Windows.Globalization
winrt-Windows.Foundation.Collections
winrt-Windows.Graphics
